
@font-face {
    font-family: "Constantine";
    src: url(../Fonts/Constantine.ttf);
}
@font-face
{
    font-family: "Montserrat Medium";
    src: url(../Fonts/15-font.otf);
}

header
{
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px;
    height: 80px;
    width: 100%;
    background-color:#32504D;
    color: #E6A170;
    font-size: 40px;
    font-family: "Constantine";
}

header > img{
    height: 45px;
    width: 45px;
    padding: 10px;
}

body
{
    background-color: #32504D;
    display: flex;
    justify-content: space-around;/*потом убрать*/
}

div{
    margin-left: 10px;
    margin-right: 10px;
}

.left-column
{
    position: fixed;
    top:78px;
    right: calc(75% + 15px);
    background-color: #0C1110;
    color:#E6A170;
    font-size: 20px;
    font-family: "Constantine";
    width: calc(25% - 20px);
    height: 100vh;
}

.left-column div, .right-column div{
    padding: 20px;
    justify-content: center;
    text-align: center;
    margin: 0;
}

a div:hover, .personal ~ div:hover, button ~ div:hover, .right-column div:hover
{
    color: white;
    cursor: pointer;
}

.black
{
    background-color: black;
}

a{
    color:#E6A170;
    text-decoration: none;
}



.center-column
{
    position: relative;
    display: flex;
    top: 75px;
    flex-direction: column; 
    flex-wrap: wrap;
    width: calc(50% - 20px);
    background-color: #F4D5BE;
    border-left: 15px solid;
    border-right: 15px solid;
    border-top: 15px solid;
    border-image: url(../img/logo.svg.2023_05_29_20_14_18.0.svg);
    border-image-outset: 5px;
    border-image-repeat: repeat;
    border-image-slice: 9.7% 9.7%;
}


.img > img{
    width: calc(100% + 10px);
}

span > div{
    column-count: 2;
    flex-wrap: wrap;
    margin: -5px;
    margin-bottom: 20px;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #c7a68e;
}

input[type="checkbox"] {
    opacity: 0;
  }

div > .label_scattering{
    position:absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    background: url(http://zornet.ru/ABVUN/Aba/detunis/supasnab/heart.png) no-repeat;
    background-position: 0 0;
  }
  .label_scattering:hover{
    cursor: pointer;
  }


input[type="checkbox"]:checked ~ .label_scattering{
    background-position: -2800px 0;
    transition: background 1s steps(28);
    animation: fave-heart 1s steps(28);
  }

  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }

p
{
    font-family: "Montserrat Medium";
    font-size: 18px;
    margin-right: 10px;
    color: white;
    padding-bottom: 20px;
}

.right-column
{
    position: fixed;
    background-color: #0C1110;
    color:#F4D5BE;
    font-size: 18px;
    font-family: "Montserrat Medium";
    top:78px;
    left: calc(75% + 15px);
    width: calc(25% - 15px);
    height: 100vh;
}



button.return
{
    height: 70px;
    width: 70%;
    border-radius: 10px;
    background-color:#E6A170;
    border: solid 2px#ffffff;
    color:#ffffff;
    font-size: 20px;
    font-family: "Constantine";
    margin: 51px;
}

.button_container button
{
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color:#F4D5BE;
    margin-top: 80px;
    font-size: 20px;
    font-family: "Constantine";
    color: #32504D;
}

.button_container button:hover{
    background-color:#E6A170;
}

.button_container
{
    position: absolute;
    width: 60%;
    height: 50px;
    top: 370px;
    right: 50%;
}

.button_container button:active
{
    background-color: #E6A170;
    width: 195px;
    height: 45px;
}


footer
{
    display: flex;
    align-items: end;
    font-family: "Montserrat Medium";
    top:92vh;
    position: fixed;
    margin: -10px;
    height: 70px;
    width: 100%;
    background-color:#32504D;
    z-index: 1;
}

footer > img
{
    position: fixed;
    left: 20%;
    height: auto;
    background-size: cover;
    width: 60%;
}

footer > div{
    padding-bottom: 12px;
}

